
<% include partials/header %>
<h1>This is the home page!</h1>
<img src="https://cdn2-www.dogtime.com/assets/uploads/gallery/pomsky-dog-breed-pictures/pomsky-dog-breed-pictures-1.jpg">
<% include partials/footer %>